/* 共通部分 */
#header{
    color: rgb(48, 51, 51);
    background: rgb(173, 255, 230);
}

/* MarkDownレイアウト */
#container{
    background: rgb(250, 235, 174);
    border-left: solid 8px rgb(248, 181, 181);
    float: left;
}

#test{
    color: darkgreen;
}