/* 共通部分 */
#header{
    color: white;
    background: rgb(22, 110, 84);
}

/* MarkDownレイアウト */
#container{
    background: rgb(250, 235, 174);
    border-left: solid 8px rgb(248, 181, 181);
    float: left;
}

#test{
    color: darkgreen;
}